	
<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="characters">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="episodes">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="quotes">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deathcount">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label>Death Count</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>